[Unit]
Description=Card API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/snyco/Card-API
ExecStart=/home/snyco/Card-API/venv/bin/python3 /home/snyco/Card-API/main.py
Restart=always

[Install]
WantedBy=multi-user.target