[Unit]
Description=Card API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/snyco/CardAPI
ExecStart=/home/snyco/CardAPI/venv/bin/python3 /home/snyco/CardAPI/main.py
Restart=always

[Install]
WantedBy=multi-user.target